 <launch>
  <arg name="map_file" default="$(find datmo)/images/map_file_yjlink.yaml"/>
  <arg name="place" default="lab"/>

  <include file="$(find rplidar_ros)/launch/rplidar_s1.launch" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rplidar_ros)/rviz/rplidar.rviz" />
  <node name="tf_11" pkg="datmo" type="tf_11" output="screen">
    <param name="place" value="$(arg place)"/>
  </node>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

 <node pkg="datmo" type="datmo" name="datmo" output="screen">
  <param name="lidar_frame" value="datmo_lidar" />
  <param name="world_frame" value="map" />
  <param name="threshold_distance" value="0.2" />
  <param name="euclidean_distance" value="0.25" />
  <param name="pub_markers" value="true" />
 </node>

  
    
</launch>
