 <launch>
    <include file="$(find rplidar_ros)/launch/rplidar_s1.launch" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rplidar_ros)/rviz/rplidar.rviz" />

 <node pkg="datmo" type="datmo" name="datmo" output="screen">
  <param name="lidar_frame" value="datmo_lidar" />
  <param name="world_frame" value="datmo_lidar" />
  <param name="threshold_distance" value="0.2" />
  <param name="euclidean_distance" value="0.25" />
  <param name="pub_markers" value="true" />
 </node>

  
    
</launch>
